# for python environments
**/env*/
# for any data regarding the essays that can't be published
**/data/
# for the original dataset
**/Sammelmappe_Eroerterungen_FairDebattierenundEroertern_Giera_UniPotsdam.pdf
# for python internal stuff
**/.mypy_cache/
**/__pycache__/

**/.DS_Store

